$terracotta:  #F76B8A;
$dark: #333;
$blanco: #ffff;
$beige: #f1efef;
$gray: #6b6a6a;
$font-family: 'Helvetica Neue', Arial, sans-serif;



.router-link-active {
    color: $terracotta !important;
    font-weight: bold;
  }
  .custom-toast {
    background-color: #F76B8A !important; /* Cambia esto según tus necesidades */
    color: #ffffff !important;
  }
  
  .custom-toast .Vue-Toastification__toast-body {
    color: #ffffff;
  }











